$gold: #D4C17F;

@font-face {
    font-family: Logo font; /* Имя шрифта */
    src: url(../fonts/PostNoBillsJaffna-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

html{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: #fff;
    background-color: #242B33;
}
a{
    color: #fff;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: $gold;
}

// --- Background Rome numbers
.number{
    font-family: 'Playfair Display';    
    font-weight: 700;
    font-size: 400px;
    line-height: 533px;
    opacity: 0.02;
    position: absolute;
}
.number-benefits{
    top: -180px;
    right: 0;
}
.number-appart{
    top: -60px;
    left: 0;
}
.number-video{
    top: -40px;
    right: 0;
}
// --- end Background Rome numbers

//=== end Share styles

// --- Header
.header {
    height: 840px;
    background-position: center;
    margin-bottom: 195px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
    padding-left: 15px;
    padding-right: 15px;
}

.logo__title {
    font-family: 'Logo font';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}
.logo__subtitle {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.3px;
}

.menu__items {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.menu__item {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-left: 40px;
    opacity: .7;
    transition: all .8s;
}
.menu__item:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    opacity: 1;
}

.header__title {
    margin-bottom: 107px;
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    padding: 0 10px;
}

.header__bottom {
    display: flex;
    justify-content: center;
}
.adress, .phone {
    display: flex;
    align-items: center;
    opacity: 0.7;
    transition: all .7s;
}
.adress__img, .phone__img {
    margin-right: 15px;
}
.phone {
    margin-left: 140px;
}
.adress__img{
    opacity: 0.6;
    transition: all .7s;
}
.adress__img:hover,
.phone:hover {
    opacity: 1;
}
.mouse{
    margin-bottom: 200px;
    text-align: center;
}
.burger__control{
    display: none;
}


@media (max-width: 850px){
    .menu__item{
        margin-left: 20px;
    }
    .header__top{
        position: relative;
        margin-bottom: 150px;
    }
    .header{
        height: 640px;
    }
    .mouse{
        margin-bottom: 120px;
    }
}

@media (max-width: 720px) {
.header__top{
        position: relative;
    }
.menu__items{
    display: initial;
}
.menu__item{
    padding-top: 25px;
    margin-right: 100px;
}
.menu__item:hover{
    padding-bottom: 0;
    border: none;
}
.menu{
    position: absolute;
    top: -300px;
    right: 100px;
    transition-duration: .8s;
}

// --- Burger
.burger__box{
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}
.burger__box > span,
.burger__box > span::before,
.burger__box > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: .5s;
}
.burger__box > span{
    margin-top: 14px;
}
.burger__box > span::before {
    content: '';
    top: -14px;
}
.burger__box > span::after {
    content: '';
    top: 14px;
}
.burger__control:checked ~ 
.burger__box > span{
    transform: rotate(45deg);
}
.burger__control:checked ~
.burger__box > span::before{
    top: 0;
    transform: rotate(0);
}
.burger__control:checked ~
.burger__box > span::after{
    top: 0;
    transform: rotate(90deg);
}
.burger__control:checked ~ .menu{
    top: 0px;
    right: 100px;
}
// --- end Burger
}

@media (max-width: 600px){
    .header{
        height: 540px;
    }
    .header__title {
        margin-bottom: 60px;
        font-size: 35px;
        line-height: 50px;
    }
    .phone {
        margin-left: 80px;
    }
}

// @media (max-width: 570px) {
//     .menu__item{
//         margin-right: 40px;
//     }
// }

@media (max-width: 500px) {
    .menu__item{
        margin-right: 0px;
    }
    .header__bottom{
        display: table;
        margin: 0 auto;
    }
    .phone{
        margin: 0;
        margin-top: 20px;
    }
    .mouse{
        margin-bottom: 80px;
    }
}

@media (max-width: 450px) {
    .burger__control:checked ~ .menu{
        top: 50px;
        right: 35%;
    }
    .menu{
        left: 0;
        width: 100%;
        padding-bottom: 30px;
        background-color: #242B33;
        border-radius: 10%;
        opacity: 0.9;
    }
    .menu__items{
        text-align: center;
    }
    .header__title {
        font-size: 30px;
    }
}

@media (max-width: 390px){
    .header__title {
        font-size: 25px;
        line-height: 40px;
    }
}

@media (max-width: 350px){
    .header__top{
        margin-bottom: 100px;
    }
}
//--- end Header

// ---Benefits
.benefits {
    margin-bottom: 120px;
    position: relative;

    &__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        align-items: flex-start;
        padding: 0 20px;
    }
    &__item {
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 27px;
        // width: 20%;
        width: 180px;
        text-align: center;
    }
    &__item-text {
        margin-top: 53px;
    }
}

@media (max-width: 930px){
    .benefits__item-text{
        margin-top: 30px;
    }
    .header{
        margin-bottom: 110px;
    }
}
//--- end Benefits

// --- Appartaments
.appart {
    position: relative;

    &__title {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 100px;
        padding: 0 10px;
        gap: 20px;
    }
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    &__item {
        position: relative;
    }
    &__item-img {
        max-width: 100%;
        padding: 10px;
    }
    &__item-text {
        position: absolute;
        left: 50px;
        bottom: 50px;
    }
}

@media (max-width:900px){
    .appart__title{
        margin-bottom: 60px;
    }
}
@media (max-width:800px){
    .appart__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width:470px){
    .appart__title{
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 35px;
    }
    .benefits{
        margin-bottom: 60px;
    }
}
//--- end Appartaments

// ---- Watch
.watch {
    margin-bottom: 120px;
    height: auto;

    &__inner {
        display: flex;
        padding: 200px 10px 0 10px;
    }
    &__inner-left,
    &__inner-rigth {
        width: 50%;
    }
    &__title {
        margin-bottom: 50px;
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
    }
    &__inner-rigth {
        margin-top: 40px;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}

.form {
    &__name, &__phone,
    &__text, &__button {
        width: 255px;
        height: 50px;
        text-align: center;
    }
    &__name, &__phone{
        opacity: 0.2;
        color: #000;
    }
    &__name:focus, &__phone:focus{
        color: blue;
    }
    &__text {
        display: block;
        font-size: 13px;
        line-height: 16px;
        margin-top: 10px;
    }
    &__button {
        background-color: #D4C17F;
        cursor: pointer;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        border: none;
    }
}

@media (max-width:800px){
    .watch__inner{
        padding-top: 100px;
    }
}

@media (max-width:600px){
    .watch{
        margin-bottom: 80px;
    }
    .watch__inner-rigth{
        padding-left: 20px;
    }
    .watch__title,
    .question__title  {
        font-size: 28px;
        line-height: 35px;
    }
}

@media (max-width:500px){
    .watch__inner{
        display: block;
        justify-content: center;
        text-align: center;
    }
    .watch__inner-left,
    .watch__inner-rigth{
        width: 100%;
        padding: 0;
    }
}
//--- end Watch

// --- Question & Video & Map
.question {
    margin-bottom: 180px;
    padding: 0 10px;
}
.question__title{
    margin-bottom: 100px;
}
@media (max-width:580px){
    .question{
        margin-bottom: 80px;
    }
    .question__title
    {
        margin-bottom: 40px;
    }
}
  
.video{
    position: relative;
    padding-top: 60px;
}
.movie {
    width: 100%;
    height: auto;
    margin: 0 auto 180px; // выравнивает по центру по вертикали
    display: block;
    max-width: 720px;
    padding: 0 10px;
}
@media (max-width:1125px){
    .movie{
        margin-bottom: 80px;
    }
}

.map{
    margin-bottom: 180px;
    padding: 0 10px;
}
.map__title{
    margin-bottom: 80px;
}
iframe{
    width: 100%;
    height: 400px;
}
@media (max-width:600px){
    .map__title{
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    .map{
        margin-bottom: 90px;
    }
}
// --- end Question & Video & Map

// ------ Footer
.footer {
    background-color: #2D343C;

    &__inner{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        padding: 70px 10px 50px 10px;
        font-size: 14px;
        line-height: 16px;
    }
    &__adress-item {
        margin-bottom: 15px;
    }
}
.menu {

    &__footer-item {
        margin-bottom: 15px;
    }
    &__footer-link {
        transition: all .7s;
    }
    &__footer-link:hover {
        opacity: 0.7;
    }
}
    .phone-footer, .mail {
        opacity: 0.7;
        transition: all .7s;
    }
    .phone-footer:hover, .mail:hover {
        opacity: 1;
    }
    .social__link{
        margin-right: 10px;
        transition: all .7s;
    }
    .social__link:hover{
        opacity: 0.7;
    }

@media (max-width:500px) {
    .footer__inner{
        display: block;
        text-align: center;
        padding-top: 30px;
    }
    .line{
        display: block;
        width: 200px;
        height: 1px;
        background-color: #fff;
        margin: 20px auto 20px;
    }
}

